<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>列表渲染</title>
    <link rel="stylesheet" href="../../public/static/css/reset_5.css">
    <script src="../../public/static/js/rem.js"></script>
    <script src="../lib/vue.js"></script>
    <link rel="stylesheet" href="../css/common.css">

</head>
<body>
    <strong>列表渲染</strong>
    <strong>v-for把一个数组对应为一组元素</strong>
    <div class="box" id="vm1">
        <ul>
            <li v-for="data in listData">
                {{data.name}}
            </li>
        </ul>
        <i>v-for中，可以访问所有父作用域的属性。支持可选的第二个参数，获取当前项的索引。</i>
        <ul>
            <li v-for="(data,index) in listData">
                {{cate}}-{{index}}-{{data.name}}
            </li>
        </ul>
        <i>使用of替代in，更接近迭代器的语法。</i>
        <ul>
            <li v-for="data of listData">
                {{data.name}}
            </li>
        </ul>
    </div>
    <script>
        var vm1 = new Vue({
            el:"#vm1",
            data() {
                return {
                    cate:'names',
                    listData:[
                        {name:'name1'},
                        {name:'name2'},
                    ]
                }
            },
        });
    </script>

    <strong>v-for使用对象数据</strong>
    <div class="box" id="vm2">
        <ul>
            <li v-for="value of listData">
                {{value}}
            </li>
        </ul>
        <i>使用第二个参数获取对象的属性名称</i>
        <ul>
            <li v-for="(value,name) in listData">
                {{name}}：{{value}}
            </li>
        </ul>
        <i>使用第三个参数获取索引</i>
        <ul>
            <li v-for="(value,name,index) in listData">
                {{index}}.{{name}}:{{value}}
            </li>
        </ul>
    </div>
    <script>
        var vm2 = new Vue({
            el:"#vm2",
            data() {
                return {
                    listData:{
                        name1:'hello',
                        name2:'word!',
                    }
                }
            },
        });
    </script>

    <strong>维护状态 key 的使用</strong>
    <div class="box" id="vm3">
        <ul class="cl">
            <li v-for="item in items" :key="item.id">{{item.name}}</li>
        </ul>
        <i>Vue 不能检测以下数组的变动:</i>
        <i>1.当你利用索引直接设置一个数组项时，例如：vm.items[indexOfItem] = newValue</i>
        <i>2.当你修改数组的长度时，例如：vm.items.length = newLength</i>
        <p><input type="button" @click="vm3items" value="vm3.items[2]={},无效,需要使用Vue.set()"></p>
        <p><input type="button" @click="vueset" value="Vue.set()"></p>
        <p><input type="button" @click="vmsplice" value="vm.items.splice()"></p>
        <p><input type="button" @click="vm$set" value="vm.$set()"></p>
        
    </div>
    <script>
        var vm3 = new Vue({
            el:"#vm3",
            data() {
                return {
                    items:[
                        {id:1,name:"name1"},
                        {id:2,name:"name2"},
                        {id:3,name:"name3"},
                        {id:4,name:"name4"},
                        {id:5,name:"name5"},
                    ]
                }
            },
            methods: {
                vm3items:function(){
                    vm3.items[2]={id:13,name:"name13"}
                },
                vueset:function(){
                    Vue.set(vm3.items,2,{id:13,name:"name13"});
                },
                vmsplice:function(){
                    vm3.items.splice(2,1,{id:13,name:"name113"});
                },
                vm$set:function(){
                    vm3.$set(vm3.items,2,{id:13,name:"name1113"});
                }
            },
        });
    </script>

    <strong>对象变更监测注意事项</strong>
    <div class="box" id="vm4">
        <ul class="cl">
            <li v-for="item in items">{{item}}</li>
        </ul>
        <i>vm.b不是响应式的</i>
        <p><input type="button" @click="vmItemsB" value="vm.items.b=2"></p>
        <i>对于已经创建的实例，Vue 不允许动态添加根级别的响应式属性。</i>
        <i>但是，可以使用 Vue.set(vm.items, 'propertyName', value) 方法向嵌套对象添加响应式属性。</i>
        <p><input type="button" @click="Vueset" value="Vue.set()"></p>
        <ul class="cl">
            <li v-for="(value,name,index) in userProfile">{{index}}-{{name}}:{{value}}</li>
        </ul>
        <p><input type="button" @click="Vuesetage" value="Vue.set(vm.userProfile,'age',27)"></p>
        <p><input type="button" @click="vm$setage" value="vm$set(vm.userProfile,'sex','男')"></p>
        <p><input type="button" @click="addMulti" value="Object.assign()添加多个属性"></p>
    </div>
    <script>
        var vm4 = new Vue({
            el:"#vm4",
            data() {
                return {
                    items:{
                        item1:1,
                    },
                    userProfile:{
                        name:"beginner",
                    }
                }
            },
            methods: {
                vmItemsB:function(){
                    vm4.items.b=2
                },
                Vueset:function(){
                    Vue.set(vm4.items,'b',2)
                },
                Vuesetage:function(){
                    Vue.set(vm4.userProfile,'age',27);
                },
                vm$setage:function(){
                    vm4.$set(vm4.userProfile,'sex','男');
                },
                addMulti:function(){
                    vm4.userProfile = Object.assign({},vm4.userProfile,{
                        age2:2828,
                        sex2:'男男',
                    });
                }
            },
        });
    </script>

    <strong>计算属性显示过滤/排序后的结果</strong>
    <div class="box" id="vm5">
        <ul class="cl">
            <li v-for="value in computedNumbers">{{value}}</li>
        </ul>
        <i>计算属性，返回计算结果数组</i>
        <i>计算属性，必须返回数组或者对象，循环中才可以对数组或者对象进行循环。仅修改data是无效的。因为输出的是计算属性的内容，计算属性相当于一个新data的存在。</i>
        <ul class="cl">
            <li v-for="value in computedNumbers2">{{value}}</li>
        </ul>
    </div>
    <script>
        var vm5 = new Vue({
            el:"#vm5",
            data() {
                return {
                    numbers:[1,2,3,4,5,6]
                }
            },
            computed: {
                computedNumbers:function(){
                    return this.numbers.filter(function(num){
                        return num%2 ===0
                    });
                },
                computedNumbers2:function(){
                    var numbers2=[];
                    for(let num of this.numbers){
                        numbers2.push(num*2)
                    }
                    return numbers2;
                }
            },
        });
    </script>

    <strong>在v-for里使用值范围</strong>
    <div class="box" id="vm6">
        <span v-for="n in 10">{{n}}</span>
    </div>
    <script>
        var vm6 = new Vue({
            el:"#vm6",
        });
    </script>

    <strong>在&lt;template&gt;上使用v-for</strong>
    <div class="box" id="vm7">
        <ul class="cl">
            <template v-for="item in person">
                <li>{{item.name}}</li>
                <li :style="{color:'#f00'}">{{item.age}}</li>
            </template>
        </ul>
        <ul class="cl">
            <li v-for="item in person"><code>{{item.name}}</code><span>{{item.age}}</span></li>
        </ul>
    </div>
    <script>
        var vm7 = new Vue({
            el:"#vm7",
            data() {
                return {
                    person:[
                        {name:'liu',age:'27'},
                        {name:'liuliu',age:'2828'},
                    ]
                }
            },
        });
    </script>

    <strong>v-for与v-if一同使用</strong>
    <div class="box" id="vm8">
        <ul class="cl" v-if="showAll">
            <li v-for="item in persons" v-if="item.show">{{item.name}}</li>
        </ul>
        <p><input type="button" @click="showName2" value="显示name2"></p>
    </div>
    <script>
        var vm8 = new Vue({
            el:"#vm8",
            data() {
                return {
                    showAll:true,
                    persons:[
                        {show:true,name:'name1'},
                        {show:false,name:'name2'},
                        {show:true,name:'name3'},
                        {show:true,name:'name4'},
                        {show:true,name:'name5'},
                        {show:true,name:'name6'},
                        {show:true,name:'name7'},
                    ]
                }
            },
            methods: {
                showName2:function(){
                    vm8.$set(vm8.persons,1,{show:true,name:"name2--$set"});
                }
            },
        });
    </script>

    <strong>在组件上使用v-for</strong>
    <div class="box" id="vm9">
        <ul class="cl">
            <li is="liComponent" 
                v-for="(item,index) in persons" 
                :key="item.name" 
                :title="item.name" 
                @remove="persons.splice(index,1)" 
                @remove2="remove22(index)" 
                ></li>
                
        </ul>
        <p>
            <input type="text" v-model="newPerson">
            <input type="button" @click="addNewPerson" value="add">
        </p>
        <i>组件的点击事件不能在html中触发，需要在html中通过v-on或@绑定自定义事件，然后在组件中@click="$emit(event)"触发自定义事件。</i>
        <i>组件的事件，可以给方法传递参数如 remove(index)</i>
    </div>
    <script>
        Vue.component('liComponent',{
            template:'<li>\
                        {{title}}--template输出\
                        <input @click="$emit(\'remove\')" type="button" value="remove">\
                        <input @click="$emit(\'remove2\')" type="button" value="remove2">\
                    </li>',
            props:['title']
        });
        var vm9 = new Vue({
            el:"#vm9",
            data() {
                return {
                    newPerson:'',
                    persons:[
                        {name:'name1'},
                        {name:'name2'},
                        {name:'name3'},
                    ]
                }
            },
            methods: {
                addNewPerson:function(){
                    vm9.persons.push({name:this.newPerson});
                    this.newPerson='';
                },
                remove22:function(index){
                    vm9.persons.splice(index,1);
                }
            },
        });
    </script>

</body>
</html>